body {
    background-color: #000000;
  }

  h1 {
    text-align:center;
    color: #ffffff;
  }

  section {
        width: 35em;
        height: 0em;
        background-color: rgb(255, 255, 255);
        font-size: 10px;
        margin: 3em;     
        display: grid;
        place-items: center;
  }

  #dentro {
    margin-left: 5em;
    width: 4em;
    height: 4em;
    position: absolute;
    display: flex;
    text-align:center;
    line-height: 4em;
}

#dentro1 {
    width: 4em;
    height: 4em;
    position: absolute;
    left: 8em;
    background-color: #ffffff;
}
 
#dentro2 {
    width: 4em;
    height: 4em;
    position: absolute;
    left: 12em;
    background: #acacac;

}

#dentro3 {
    width: 4em;
    height: 4em;
    position: absolute;
    left: 16em;
    background: #ffffff;

}

#dentro4 {
    width: 4em;
    height: 4em;
    position: absolute;
    left: 20em;
    background: #acacac;

}
#dentro5 {
    width: 4em;
    height: 4em;
    position: absolute;
    left: 24em;
    background: #ffffff;

}

#dentro6 {
    width: 4em;
    height: 4em;
    position: absolute;
    left: 28em;
    background: #acacac;

}

#dentro7 {
    width: 4em;
    height: 4em;
    left: 32em;
    position: absolute;
    background-color: #ffffff;
}

#dentro8 {
    width: 4em;
    height: 4em;
    left: 36em;
    position: absolute;
    background-color: #acacac;
}

#dentro9 {
    margin-left: 8em;
    margin-top: 4em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro10 {
    margin-left: 12em;
    margin-top: 4em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro11 {
    margin-left: 16em;
    margin-top: 4em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro12 {
    margin-left: 20em;
    margin-top: 4em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro13 {
    margin-left: 24em;
    margin-top: 4em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro14 {
    margin-left: 28em;
    margin-top: 4em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro15 {
    margin-left: 32em;
    margin-top: 4em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro16 {
    margin-left: 36em;
    margin-top: 4em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro17 {
    margin-left: 8em;
    margin-top: 8em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro18 {
    margin-left: 12em;
    margin-top: 8em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro19 {
    margin-left: 16em;
    margin-top: 8em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro20 {
    margin-left: 20em;
    margin-top: 8em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro21 {
    margin-left: 24em;
    margin-top: 8em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro22 {
    margin-left: 28em;
    margin-top: 8em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro23 {
    margin-left: 32em;
    margin-top: 8em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro24 {
    margin-left: 36em;
    margin-top: 8em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro25 {
    margin-left: 8em;
    margin-top: 12em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro26 {
    margin-left: 12em;
    margin-top: 12em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro27 {
    margin-left: 16em;
    margin-top: 12em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro28 {
    margin-left: 20em;
    margin-top: 12em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro29 {
    margin-left: 24em;
    margin-top: 12em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro30 {
    margin-left: 28em;
    margin-top: 12em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro31 {
    margin-left: 32em;
    margin-top: 12em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro32 {
    margin-left: 36em;
    margin-top: 12em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro33 {
    margin-left: 8em;
    margin-top: 16em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro34 {
    margin-left: 12em;
    margin-top: 16em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro35 {
    margin-left: 16em;
    margin-top: 16em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro36 {
    margin-left: 20em;
    margin-top: 16em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro37 {
    margin-left: 24em;
    margin-top: 16em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro38 {
    margin-left: 28em;
    margin-top: 16em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro39 {
    margin-left: 32em;
    margin-top: 16em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro40 {
    margin-left: 36em;
    margin-top: 16em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro41 {
    margin-left: 8em;
    margin-top: 20em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro42 {
    margin-left: 12em;
    margin-top: 20em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro43 {
    margin-left: 16em;
    margin-top: 20em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro44 {
    margin-left: 20em;
    margin-top: 20em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro45 {
    margin-left: 24em;
    margin-top: 20em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro46 {
    margin-left: 28em;
    margin-top: 20em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro47 {
    margin-left: 32em;
    margin-top: 20em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro48 {
    margin-left: 36em;
    margin-top: 20em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro49 {
    margin-left: 8em;
    margin-top: 24em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro50 {
    margin-left: 12em;
    margin-top: 24em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro51 {
    margin-left: 16em;
    margin-top: 24em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro52 {
    margin-left: 20em;
    margin-top: 24em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro53 {
    margin-left: 24em;
    margin-top: 24em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro54 {
    margin-left: 28em;
    margin-top: 24em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro55 {
    margin-left: 32em;
    margin-top: 24em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro56 {
    margin-left: 36em;
    margin-top: 24em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro57 {
    margin-left: 8em;
    margin-top: 28em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro58 {
    margin-left: 12em;
    margin-top: 28em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro59 {
    margin-left: 16em;
    margin-top: 28em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro60 {
    margin-left: 20em;
    margin-top: 28em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro61 {
    margin-left: 24em;
    margin-top: 28em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro62 {
    margin-left: 28em;
    margin-top: 28em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

#dentro63 {
    margin-left: 32em;
    margin-top: 28em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #acacac;
}

#dentro64 {
    margin-left: 36em;
    margin-top: 28em;
    width: 4em;
    height:4em;
    position: absolute;
    text-align:center;
    background-color: #ffffff;
}

img {
    height: 4em;
    width: 4em;
}

footer {
    margin-top: 20em;
    display: grid;
    text-align:center;
    color: #ffffff;
}