body {
    background-color: #000000;
  }

  h1 {
    color: #ffffff;
  }

  section {
        width: 45em;
        height: 45em;
        background-color: blue;
        font-size: 10px;
        margin: 5em;          /*respecto al tamaño de la fuente del elemento actual: 4*10px=40px   */    
  }

  footer {
    color: #ffffff;
  }

  #dentro {
    margin-left: 5em;
    width: 4em;
    height: 4em;
    position: absolute;
    display: flex;
    text-align:center;
    line-height: 4em;
}


#dentro1 {
    width: 4em;
    height: 4em;
    position: absolute;
    left: 8em;
    background-color: #ffffff;
}

#dentro2 {
    width: 4em;
    height: 4em;
    position: absolute;
    left: 12em;
    background: #acacac;

}
#dentro3 {
    width: 4em;
    height: 4em;
    position: absolute;
    left: 16em;
    background: #ffffff;

}
#dentro4 {
    width: 4em;
    height: 4em;
    position: absolute;
    left: 20em;
    background: #acacac;

}
#dentro5 {
    width: 4em;
    height: 4em;
    position: absolute;
    left: 24em;
    background: #ffffff;

}

#dentro6 {
    width: 4em;
    height: 4em;
    position: absolute;
    left: 28em;
    background: #acacac;

}

#dentro7 {
    width: 4em;
    height: 4em;
    left: 32em;
    position: absolute;
    background-color: #ffffff;
}

#dentro8 {
    width: 4em;
    height: 4em;
    left: 36em;
    position: absolute;
    background-color: #acacac;
}
